################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs/
/.vs/
*.db-wal
/CSCN71030-21W_Bardo/FileIO.cpp
